body { 
background-color: #F08080; 
color: black; 
text-align: center; 
} 

.container { 
display: flex; 
flex-direction: column; 
align-items: center; 
} 

.heading { 
margin-bottom: 40px; 
color: white; 
font-size: 3rem; 
} 

.header { 
display: flex; 
align-items: center; 
} 

.timer, .errors, .accuracy, 
.cc, .wc, .countWords { 
background-color: #00FFFF; 
color: black;
height: 63px; 
width: 75px; 
margin: 10px; 
padding: 23px; 
border-radius: 50%; 
box-shadow: black 4px 6px 8px; 
} 

.cc, .wc { 
display: none; 
} 

.header_text { 
text-transform: uppercase; 
font-size: 0.6rem; 
font-weight: 600; 
} 

.current_time, .current_cc, 
.current_wc, .current_errors, 
.current_accuracy, .countWords { 
font-size: 2.5rem; 
} 

.quote { 
background-color: #8A2BE2; 
font-size: 1.5rem; 
margin: 10px; 
padding: 25px; 
box-shadow: black 4px 6px 8px; 
} 

.whiteArea { 
background-color: white; 
width: 50%; 
height: 80px; 
margin: 15px; 
font-size: 2rem; 
box-shadow: black 4px 6px 8px;
font-weight: 600; 
padding: 20px; 
} 


.incorrect_char { 
color: red; 
text-decoration: underline; 
} 

.correct_char { 
color: green; 
} 


/*The resultwindow Styling*/

#submit {
    padding:  10px; margin-top: 20px; margin-bottom: 10px;
    background: #d24848;
    user-select: none;
    cursor: pointer;
    width:  80px;
    border: 0;
  }

  #paragraph {
    padding-top: 100px;
    width: 15%;
    background-color: lightgray;
    color: #000;
  }

  #usernameTextfield2 {
    margin-top: 25px;
  }